version: "3.9"

name: swiftystore-dev

networks:
  backend_network:
    driver: bridge

services:
  slstoredb:
    image: slstoredb
    container_name: slstoredb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: slstore
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - slstore-data:/var/lib/mysql
    networks:
      - backend_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: swiftystore-backend
    depends_on:
      - slstoredb
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://slstoredb:3306/slstore
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    working_dir: /app
    command: java -jar target/SLStore-0.0.1-SNAPSHOT.jar
    restart: unless-stopped
    networks:
      - backend_network

volumes:
  slstore-data: