services:
  slstoredb:
    image: mysql:latest
    container_name: slstoredb-new
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: slstore
    ports:
      - "3306:3306"
    volumes:
      - slstore-data:/var/lib/mysql

  backend:
    image: shadowstork98/swiftystore-backend-application:latest
    container_name: slstore-backend
    restart: unless-stopped
    depends_on:
      - slstoredb
    ports:
      - "8080:8080"
    environment:
      DATABASE_HOST: slstoredb-new
      DATABASE_PORT: 3306
      DATABASE_NAME: slstore
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root
    command: ["java", "-jar", "/target/SLStore-0.0.1-SNAPSHOT.jar"]

volumes:
  slstore-data: